In [1]:
import pandas as pd
import numpy as np
import glob  
import sys

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [2]:
temp = pd.read_csv("data/subway/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv", encoding='cp949')
temp.head(10)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202212,1호선,동대문,762,8,10546,1950,8505,5809,13440,...,8824,588,2402,23,254,1,4,0,0,20230103
1,202212,1호선,동묘앞,194,5,2748,1031,3605,4484,6064,...,3859,122,1683,2,453,0,36,0,0,20230103
2,202212,1호선,서울역,604,24,8028,7918,12137,44148,38148,...,15356,2776,3500,43,707,1,46,0,0,20230103
3,202212,1호선,시청,127,1,2197,4277,3713,21598,7195,...,4727,1934,1126,102,110,2,7,0,0,20230103
4,202212,1호선,신설동,348,13,8308,2096,8716,7826,20270,...,9203,393,2276,13,85,0,6,0,0,20230103
5,202212,1호선,제기동,383,2,4520,1756,7665,7650,21505,...,7434,156,1550,16,50,0,1,0,0,20230103
6,202212,1호선,종각,134,4,3869,4625,4670,21956,6369,...,4615,1575,1058,434,81,0,2,0,0,20230103
7,202212,1호선,종로3가,116,8,3708,2898,3701,12979,5176,...,5931,4646,2064,299,188,4,14,0,0,20230103
8,202212,1호선,종로5가,28,1,1617,3511,2609,13764,4987,...,3217,461,939,14,39,0,1,0,0,20230103
9,202212,1호선,청량리(서울시립대입구),847,10,10288,3323,14099,21108,35488,...,10534,214,4145,4,321,0,0,0,0,20230103

In [4]:
temp = pd.read_csv("data/subway/서울시 지하철 역사 편의시설 현황.csv", encoding='cp949')
temp.head(10)

,지하철역ID,지하철역명,호선,엘리베이터유무,휘체어리프트유무,환승주차자유무,자전거보관소유무,무인민원발급기유무,환전키오스크유무,기차예매역유무,문화공간유무,문화공간유무.1,유아수유방유무
0,150,서울역,01호선,Y,Y,N,NaN,N,N,N,N,N,N
1,151,시청,01호선,Y,N,N,NaN,N,N,N,N,N,N
2,152,종각,01호선,Y,N,N,NaN,Y,N,N,N,N,N
3,153,종로3가,01호선,Y,N,N,NaN,N,N,N,N,N,Y
4,154,종로5가,01호선,Y,N,N,NaN,N,N,N,N,N,N
5,155,동대문,01호선,Y,N,N,NaN,N,N,N,N,Y,Y
6,156,신설동,01호선,Y,Y,N,NaN,N,N,N,N,N,N
7,157,제기동,01호선,Y,N,N,NaN,N,N,N,N,N,N
8,158,청량리,01호선,Y,Y,N,NaN,N,N,Y,N,N,N
9,159,동묘앞,01호선,Y,N,N,NaN,N,N,N,N,N,N